<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shop.dog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.library.common.app.MyApplication">

        <!-- 初始化屏幕宽高大小基本配置来进行缩放适配-->
        <!--screenWidth =1080 ,screenHeight = 1920-->
        <!--screenWidth =1536 ,screenHeight = 2048-->
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <!--引导页面-->
        <activity android:name=".WelcomeActivity"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>